<!doctype html>
<html>
  <head>
    <title>Ten Conditions for Change</title>
    <meta name="description" content="Ten Conditions for Change: a framework for creating positive behaviors">
    <meta name="keywords" content="behavior, change, positive, world, improve, improvement, habit, habits">
    <meta name="author" content="Spark Wave">
    <meta name="copyright" content="Spark Wave 2019">

    <meta property="og:title" content="Ten Conditions for Change">
    <meta property="og:description" content="a framework for creating positive behaviors">
    <meta property="og:image" content="https://www.sparkwave.tech/conditions-for-change/res/img/logo.png">
    <meta property="og:url" content="https://www.sparkwave.tech/conditions-for-change">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Ten Conditions for Change">
    <meta name="twitter:image:alt" content="Ten Conditions for Change: a framework for creating positive behaviors">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel|Raleway:900|Yantramanav:300,700&display=swap">
    <link rel="stylesheet" type="text/css" href="res/css/style.css">
  </head>
  <body>
    <div id="app">
      <div class="section">
        <div class="main-header">
          <div class="header-left">
            <div class="logo-circle-container">
              <img src="res/img/decision-arrows-with-circle.svg" class="logo-circle">
              <img src="res/img/action-arrows-with-circle.svg" class="logo-circle">
              <img src="res/img/continuation-arrows-with-circle.svg" class="logo-circle">
            </div>

            <h1 class="main-title">Ten Conditions for Change</h1>
            <h2 class="main-subtitle is-light">a framework for creating positive behaviors</h2>
          </div>
        </div>

        <div v-if="isLoading" class="has-text-centered">
          <hr class="thick">
          <img src="res/img/spinner.gif" class="img-spinner">
          <hr class="thick long">
        </div>

        <div class="is-hidden-during-loading">
          <p class="has-text-right is-visible-desktop">
            <button class="button is-small" @click="interventionSearchModalIsVisible = true">
              <img src="res/img/search.svg" class="img-inline">
              SEARCH BEHAVIOR CHANGE STRATEGIES
            </button>
          </p>

          <p class="has-text-centered is-visible-mobile">
            <button class="button is-small is-fullwidth" @click="interventionSearchModalIsVisible = true">
              <img src="res/img/search.svg" class="img-inline">
              SEARCH BEHAVIOR STRATEGIES
            </button>
          </p>

          <hr class="thick" style="margin-bottom: 1rem;">

          <div v-html="preface.content"></div>

          <p class="has-text-right">
            <a class="expand-all-link" @click="expandOrCollapseAll()" :title="allStepsAreExpanded ? 'Collapse all sections' : 'Expand all sections'">
              {{ allStepsAreExpanded ? "[ Collapse all sections ]" : "[ Expand all sections ]" }}
            </a>
          </p>

          <collapsible-section v-for="section in intro" :title="section.title" other-header-classes="is-hover-light-gray">
            <div v-html="section.content"></div>
          </collapsible-section>

          <hr><br>

          <div>
            Click on the expandable sections below to learn about how each of the Ten Conditions works and to see hundreds of behavior change strategies organized by which of the conditions they target.
          </div>
        </div>
      </div>

      <div class="is-hidden-during-loading">
        <div class="little-section">
          <p class="has-text-right is-visible-desktop">
            <button class="button is-small" @click="interventionSearchModalIsVisible = true">
              <img src="res/img/search.svg" class="img-inline">
              SEARCH BEHAVIOR CHANGE STRATEGIES
            </button>
          </p>

          <p class="has-text-centered is-visible-mobile">
            <button class="button is-small is-fullwidth" @click="interventionSearchModalIsVisible = true">
              <img src="res/img/search.svg" class="img-inline">
              SEARCH BEHAVIOR STRATEGIES
            </button>
          </p>
        </div>

        <div v-for="step in steps" class="section" :class="step.class">
          <div class="step-header">
            <img :src="step.icon" class="step-title-icon">
            <h2 class="step-title">{{ step.title }}</h2>
          </div>

          <p><b>{{ step.preface }}</b></p>

          <substep v-for="substep in step.substeps" :substep="substep" :hr-is-thick="step.substeps.indexOf(substep) === 0"></substep>
        </div>

        <div class="section is-gray">
          <div class="step-header">
            <h2 class="step-title">{{ frameworks.main.title }}</h2>
          </div>

          <hr class="thick" style="margin-bottom: 1rem;">

          <div v-html="frameworks.main.content"></div>

          <collapsible-section v-for="framework in frameworks.items" :title="framework.title" :id="framework.id">
            <div v-html="framework.content"></div>
          </collapsible-section>
        </div>

        <div class="section is-blue">
          <p>
            <a href="/" target="_blank">
              <img src="https://www.sparkwave.tech/res/img/logo.png" style="max-width: 480px;">
            </a>
          </p>

          <br>

          <p>The Ten Conditions for Change framework was made by <a href="/" target="_blank">Spark Wave</a>. Would you like to receive occasional updates about our research or projects?</p>

          <form id="mailing-list-sign-up-form">
            <div>
              <input
                class="email"
                id="email"
                name="email"
                placeholder="Email"
                required
                type="email" />
              <input aria-hidden="true" id="name" name="name" placeholder="Name" />
              <input
                class="button subscribe-button"
                id="submit"
                type="submit"
                value="Submit" />
            </div>

            <div id="message"></div>
          </form>

          <script>
            function querySelectorAsync(selector, root) {
              root = root ?? document
              const timeout = 15 * 1000
              const start = performance.now()

              return new Promise((resolve, reject) => {
                try {
                  const interval = setInterval(() => {
                    const el = root.querySelector(selector)

                    if (typeof el === "undefined") {
                      if (performance.now() - start >= timeout) {
                        clearInterval(interval)

                        throw new Error(
                          `No element found for selector "${selector}"!`,
                        )
                      }

                      return
                    }

                    clearInterval(interval)
                    return resolve(el)
                  }, 100)
                } catch (e) {
                  return reject(e)
                }
              })
            }

            !(async () => {
              const BASE_URL = "https://ct-programs.vercel.app"
              const response = await fetch(BASE_URL + "/api/mailing-list/token")
              const token = await response.text()
              
              const form = await querySelectorAsync(
                "#mailing-list-sign-up-form",
              )

              form.addEventListener("submit", async event => {
                event.preventDefault()
                event.stopImmediatePropagation()

                const submitButton = form.querySelector("#submit")
                submitButton.setAttribute("disabled", true)
                submitButton.value = "Submitting..."

                const emailInput = form.querySelector("#email")
                emailInput.setAttribute("disabled", true)

                const nameInput = form.querySelector("#name")
                nameInput.setAttribute("disabled", true)

                const message = form.querySelector("#message")
                message.innerHTML = ""
                message.classList.remove("error")
                message.classList.remove("success")
                message.style.display = "none"

                try {
                  const response = await fetch(
                    BASE_URL + "/api/mailing-list/subscribe",
                    {
                      method: "POST",
                      headers: { "Content-Type": "application/json" },
                      body: JSON.stringify({
                        email: emailInput.value,
                        name: nameInput.value,
                        token: token,
                      }),
                    },
                  )

                  if (response.status >= 400) {
                    console.error(await response.text())
                    emailInput.removeAttribute("disabled")
                    nameInput.removeAttribute("disabled")
                    submitButton.removeAttribute("disabled")
                    submitButton.value = "Submit"
                    message.classList.add("error")
                    message.innerHTML =
                      "Uh-oh! An error occurred. Please try again later."
                    message.style.display = "block"
                    return
                  }

                  emailInput.parentElement.removeChild(emailInput)
                  nameInput.parentElement.removeChild(nameInput)
                  submitButton.parentElement.removeChild(submitButton)
                  message.classList.add("success")
                  message.innerHTML = "Thanks! We've added you as a subscriber!"
                  message.style.display = "block"
                } catch (e) {
                  setTimeout(() => {
                    console.error(e)
                    emailInput.removeAttribute("disabled")
                    nameInput.removeAttribute("disabled")
                    submitButton.removeAttribute("disabled")
                    submitButton.value = "Submit"
                    message.classList.add("error")
                    message.innerHTML =
                      "Uh-oh! An error occurred. Please try again later."
                    message.style.display = "block"
                  }, 3000)
                }
              })
            })()
          </script>
        </div>

        <footer class="section">
          <div>Copyright <a href="https://www.sparkwave.tech/" target="_blank">Spark Wave</a> 2019.</div>
        </footer>
      </div>

      <intervention-search-modal :is-visible="interventionSearchModalIsVisible" :steps="steps" :frameworks="frameworks" @close="interventionSearchModalIsVisible = false">
      </intervention-search-modal>
    </div>

    <script src="res/js/bundle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39907375-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-39907375-5');
    </script>
  </body>
</html>
